.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sortable-list {
  background-color: lightgrey;
  padding: 20px;
  width: 200px;
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
